@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
.spinnerFix {
  margin: 0 auto;
}
.iconSize {
  font-size: 1.2em;
}
.metaPostBg {
  object-fit: cover !important;
  height: 100%;
  width: 100%;
}
.likePost {
  transition: all ease-in-out 100ms;
  cursor: pointer;
}
.likePost:hover {
  font-size: 1.25em;
}
.userLink {
  text-decoration: none;
  color: var(--bs-dark);
}
.userLink:hover {
  color: var(--bs-danger);
  opacity: 0.8;
}
.UserCardNickname{
  font-family: 'Work Sans', sans-serif!important;
  font-size: 1.5em;
}
.commentInput{
  position: relative;
  bottom: 0;
}
.dashedHeader {
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
.dashedHeader span {
  display: inline-block;
  vertical-align: middle;
}
.dashedHeader:before,
.dashedHeader:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: var(--bs-gray);
  position: relative;
}
.dashedHeader:before {
  margin-left: -100%;
  left: -14px;
}
.dashedHeader:after {
  margin-right: -100%;
  right: -14px;
}